/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.navbar {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
  border: none;
}

.offcanvas {
  background-color: #343a40;
  color: #fff;
}

.offcanvas .btn-close {
  filter: invert(100%);
}

.offcanvas a.nav-link {
  color: #fff;
}

.offcanvas a.nav-link:hover {
  color: #6c757d;
}

#imgLogo {
  max-width: 150px;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;

}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
}

.tittleCarrosel {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtittleCarrosel {
  font-size: 1.2rem;
}

.titleCard, .subtitleCard {
  text-align: center;
  padding: 1rem 0;
  background-color: #28a745;
  color: #fff;  
  border-radius: 0.25rem;
}

.titleCard p, .subtitleCard p {
  font-size: 2rem;
  font-weight: bold;
}

.cardMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border: none;
  max-width: 400px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  height: 400px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

#valor{
  color: #218838;
}

.btnCard {
  margin-top: 1rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  display: flex;
}

.btnCard:hover {
  background-color: #218838;
}

.modal-header {
  background-color: #28a745;
  color: #fff;
}

.modal-footer .btn-primary {
  background-color: #28a745;
}

.footer {
  text-align: center;
  padding: 2rem;
  background-color: #343a40;
  color: #FFFFFF;
  margin-top: 2rem;
}
